.item, .item__link {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  column-gap: 10px;

  &__logo {
    object-fit: contain;
    border-radius: 2px;
  }
}

.item__title {
  word-break: break-all;
}
