.header {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px 20px 0 0;
  font-size: var(--fz-nav);
}

.dropdown {
  position: relative;

  &__menu {
    position: absolute;
    right: 0;
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-bottom: 15px;
    margin-left: 15px;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-color);
    cursor: pointer;

    .dropdown__icon {
      width: min-content;
      transition: transform 0.5s;
    }
  }

  &__link {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--accent-color);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 1s;
  }

  &:hover {
    .dropdown__menu {
      display: block;
    }

    .dropdown__icon {
      transform: rotateZ(-180deg);
    }
  }

}
